body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

.container {
    width: 500px;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

.input-box,
.image-upload {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.image-upload {
    display: flex;
    justify-content: space-between;
}

.image-upload div {
    width: 48%;
    padding: 20px;
    border: 1px dashed #ccc;
    text-align: center;
    color: #aaa;
}

.geral {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    width: 100%;
}
.botao-cadastrar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
}

.botao-cadastrar:hover {
    background-color: #218838;
}
.input-upload-foto {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.input-upload-foto:hover {
    border-color: #888;
}