body {
    margin: 0;
    padding: 0;
    background-color: rgb(244, 244, 244);
}

.container {
    width: 61%;
    background-color: #fff;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    margin-bottom: 20px;
}

.section {
    margin-bottom: 20px;
}

.section h3 {
    margin: 0 0 10px 0;
    font-size: 18px;
    color: #333;
}

.image-upload,
textarea,
select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

textarea {
    resize: vertical; /* Permite redimensionamento apenas na vertical */
}

.image-upload {
    display: flex;
    justify-content: space-between;
}

.image-upload div {
    width: 48%;
    padding: 20px;
    border: 1px dashed #ccc;
    text-align: center;
    color: #aaa;
}

.geral {
    display: flex;
    flex-direction: column;
    gap: 2rem;
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    align-items: center;
    margin-top: 2rem;
}

.botao-cadastrar {
    background-color: #28a745;
    color: white;
    border: none;
    padding: 15px 30px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s;
    width: 100%;
}

.botao-cadastrar:hover {
    background-color: #218838;
}

.input-upload-foto {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
    cursor: pointer;
}

.input-upload-foto:hover {
    border-color: #888;
}

/* Estilos para "Informações Básicas" e "Descrição do Evento" */
.section label {
    font-size: 14px;
    color: #666;
    display: block;
    margin-bottom: 5px;
}

#nome-evento, #imagem-divulgacao, #assunto, #categoria, #descricao-evento {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    box-sizing: border-box;
}

.descricao-ia {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    margin-top: 10px;
    transition: background-color 0.3s;
}

.descricao-ia:hover {
    background-color: #0056b3;
}

small {
    font-size: 12px;
    color: #888;
    display: block;
    margin-top: 5px;
}
.input-box{
    width: 100%;
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
    transition: border-color 0.3s;
}


.input-box:focus{
    border-color: #00B2E2; /* Azul Tiffany */
    outline: none;
}
