* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-105grad, #044292, #03aca0);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8rem;
}