* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    background-color: #212221;
    display: flex;
    justify-content:space-between;
    height: 100px;
    padding-left: 30px;
}
header img{
  width: 20%;
}
.botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
}
.Login {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .Login:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .Login:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .Login:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .Login:hover {
  color: #ffffff;
    border: 1px solid #009087;
  }
  
  .Login:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .Login:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
.SejaMenbro {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .SejaMenbro:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .SejaMenbro:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .SejaMenbro:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .SejaMenbro:hover {
    color: #ffffff;
    border: 1px solid #009087;
  }
  
  .SejaMenbro:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .SejaMenbro:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
.sec1 .titulo{
  padding-top: 4%;
    padding-left: 12.5%;
    font-size: 35px;
}
.imagensInicio{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2%;
    flex-wrap: wrap;
    width: 100%;
}
.sec1 .titulo2{
  padding: 2%;
    padding-left: 12.5%;
    font-size: 25px;
}
.sec1 img{
  max-width: 100%;
  min-width: 20%;
}
.sec2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 4%;
    gap: 10%;
}
.caracteristicas{
    display: flex;
    justify-content: center;
    align-items: center;
    border: solid 1px #c9c9c9;
    box-shadow: 10px 10px 10px #a1a0a0;
    border-radius: 20px;
    width: 90%;
    height: 120px;
}
.caracteristicas .sobre1{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.caracteristicas .sobre2{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
}
.promotor{
    display: flex;
    justify-content: flex-start;
    align-items:center;
    padding-top: 2rem;
    gap: 10px;
}
.infos{
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.infoEvento{
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 3%;
  font-size: 20px;
}
.gerais{
    width: 45rem;
}
.cartaValor{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 20px;
    gap: 25px;
    border: solid 1px #c9c9c9;
    box-shadow: 10px 10px 10px #a1a0a0;
    width: 20rem;
    height: 25rem;
}
.cartaValor h1{
    border: solid 1px rgb(211, 208, 208);
    padding: 0.3em 3em;
    border-radius: 0.4em;
}
.compra {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.7em 5em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #00d6cb;
    border: 1px solid #fcfafa;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .compra:active {
    color: #d4d4d4;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .compra:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .compra:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #45918c;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .compra:hover {
  color: #ffffff;
    border: 1px solid #20857e;
  }
  
  .compra:hover:before {
    top: -35%;
    background-color: #27a59d;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .compra:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .contato{
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .enderecos{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid rgba(136, 136, 136, 0.356);
    border-radius: 20px;
    box-shadow: 3px 3px 3px 2px rgba(61, 61, 61, 0.247) ;
    width: 500px;
    height: 100px;
    gap: 150px;
  }
  .enderecos a{
    display: flex; 
    flex-direction: column;
    gap: 5px;
  }
  .follow {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 2em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #acacac;
    border: 1px solid #acacac;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .follow:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .follow:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .follow:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .follow:hover {
  color: #ffffff;
    border: 1px solid #009087;
  }
  
  .follow:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .follow:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
.carrossel{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    padding: 3%;

}
.Mapa{
  display: flex;
  align-items: flex-start;
  justify-items: flex-start;
  flex-direction: column;
  padding: 5%;
  padding-left: 20%;
}
footer{
    background: linear-gradient(-105grad, #044292, #03aca0);
    display: flex;
    justify-content: center;
    width: 100%;
    /* min-height: 250px; */
    position: relative;
    gap: 200px;
}
footer div {
  text-decoration: none;
  height: 150px;
  width: 250px;
  display: flex;
  align-items: initial;
  align-content: space-between;
  flex-direction: column;
  padding: 20px;
  
}
footer .termos {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 395px;
} 