footer{
    background: linear-gradient(-105grad,#51D0AB, #6CCBD3 );
    display: flex;
    justify-content: center;
    width: 100%;
    position: relative;
    gap: 13%;
}
footer div {
  text-decoration: none;
  height: 150px;
  width: 250px;
  display: flex;
  align-items: initial;
  align-content: space-between;
  flex-direction: column;
  padding: 20px;
  
}
footer .termos {
  display: flex;
  position: absolute;
  bottom: 0;
  left: 395px;
}