* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: linear-gradient(-105grad, #044292, #03aca0);
    display: flex;
    justify-content: center;
    align-items: center;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding:2rem;
}
.esquerda{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(42, 157, 185, 0.418);
    width: 40%;
    height: 800px;
    padding: 3rem;
    border-radius: 25px 0px 0px 25px;
    flex-grow: 1;
}
.esquerda form{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 25px;
    flex-grow: 1;
}
.check{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
}
.cadastro{
    border: none;
    outline: none;
    border-radius: 8px;
    width: 25rem;
    height: 3rem;
    padding: 1.5em;
    background-color: #e1e2e3;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    text-align: center;
    font-size: 20px;

}
.numeros{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
    flex-grow: 1;
}
.pagamento{
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 120px;
    padding-top: 1rem;
    flex-grow: 1;
}
.confirm{
    border: none;
    outline: none;
    border-radius: 8px;
    width: 12rem;
    height: 3rem;
    /* padding: 1.5em; */
    background-color: #e1e2e3;
    box-shadow: inset 2px 5px 10px rgba(0, 0, 0, 0.3);
    transition: 300ms ease-in-out;
    text-align: center;
    font-size: 20px;
}
.botao {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .botao:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .botao:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .botao:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #009087;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .botao:hover {
  color: #ffffff;
    border: 1px solid #009087;
  }
  
  .botao:hover:before {
    top: -35%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .botao:hover:after {
    top: -45%;
    background-color: #009087;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }

.direita{
    flex-grow: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: rgba(42, 157, 185, 0.418);
    height: 800px;
    gap: 5rem;
    border-radius: 0px 25px 25px 0px;
}
@media (max-width: 1500px){
  .direita{
    display: none;
  }
  .esquerda{
    border-radius: 20px;
  }
}
@media (max-width: 750px){
  .esquerda{
    background-color: #e1e2e300;
  }
}