/* Estilos gerais */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  header {
    background-color: #212221;
    display: flex;
    justify-content:space-between;
    height: 100px;
    padding-left: 30px;
  }
  header img{
  max-width: 100px;
  }
  header .logo{
  width: 100px;
  }
  .botoes {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 30px;
    padding-right: 30px;
  }
  .Login {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
  }
  
  body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    background-color: #f2f2f2;
    margin: 0;
    padding: 0;
  }
  
  .container {
    width: 80%;
    margin: auto;
    overflow: hidden;
    padding: 20px;
  }
  
  /* Estilos do header */
  
  .Login {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .Login:active {
    color: #666;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .Login:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.05);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .Login:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #F28705;
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .Login:hover {
  color: #ffffff;
    border: 1px solid #F28705;
  }
  
  .Login:hover:before {
    top: -35%;
    background-color: #F28705;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    filter: drop-shadow(2px 2px 4px rgba(4, 0, 255, 0.884));
  }
  
  .Login:hover:after {
    top: -45%;
    background-color: #F28705;
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
    filter: drop-shadow(2px 2px 4px rgba(4, 0, 255, 0.884));
  }
  .SejaMenbro {
    display: inline-block;
    transition: all 0.2s ease-in;
    position: relative;
    overflow: hidden;
    z-index: 1;
    color: #090909;
    padding: 0.5em 1.7em;
    cursor: pointer;
    font-size: 18px;
    border-radius: 0.5em;
    background: #e8e8e8;
    border: 1px solid #e8e8e8;
    /* box-shadow: 6px 6px 12px #c5c5c5, -6px -6px 12px #ffffff; */
  }
  
  .SejaMenbro:active {
    color: #252525;
    box-shadow: inset 4px 4px 12px #c5c5c5, inset -4px -4px 12px #ffffff;
  }
  
  .SejaMenbro:before {
    content: "";
    position: absolute;
    left: 50%;
    transform: translateX(-50%) scaleY(1) scaleX(1.25);
    top: 100%;
    width: 140%;
    height: 180%;
    background-color: rgba(0, 0, 0, 0.288);
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .SejaMenbro:after {
    content: "";
    position: absolute;
    left: 55%;
    transform: translateX(-50%) scaleY(1) scaleX(1.45);
    top: 180%;
    width: 160%;
    height: 190%;
    background-color: #F28705;
    filter: drop-shadow(2px 2px 4px rgba(4, 0, 255, 0.884));
    border-radius: 50%;
    display: block;
    transition: all 0.5s 0.1s cubic-bezier(0.55, 0, 0.1, 1);
    z-index: -1;
  }
  
  .SejaMenbro:hover {
    color: #ffffff;
    border: 1px solid #F28705;
    filter: drop-shadow(2px 2px 4px rgb(4, 0, 255));
  }
  
  .SejaMenbro:hover:before {
    top: -35%;
    background-color: #F28705;
    filter: drop-shadow(2px 2px 4px rgba(4, 0, 255, 0.884));
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  
  .SejaMenbro:hover:after {
    top: -45%;
    background-color: #F28705;
    filter: drop-shadow(2px 2px 4px rgba(4, 0, 255, 0.884));
    transform: translateX(-50%) scaleY(1.3) scaleX(0.8);
  }
  .Perfil{
      width: 100%;
      height: 100%;
      display: flex;
  }
  .esquerda{
      display: flex;
      align-items: flex-start;
      /* background-color: #009087; */
      flex-direction: column;
      width: 35%;
      height: 100%;
      padding-left: 2%;
      padding-top: 3%;
      gap: 30px;
  }
  #imgPerfil{
      display: flex;
      width: 100%;
  }
  .sociais{
    display: flex;
    flex-direction: column;
    font-size: 20px;
    gap: 10px;
  }
  .sobre{
    display: flex;
    gap: 10px;
  }
  .direita{
    display: flex;
    flex-direction: column;
    padding: 3%;
    gap: 50px;
    width: 80%;
  }
  .sobreMin{
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-direction: column;
    gap: 20px;
  }
  .rating {
    display: inline-block;
  }
  
  .rating input {
    display: none;
  }
  
  .rating label {
    float: right;
    cursor: pointer;
    color: #ccc;
    transition: color 0.3s;
  }
  
  .rating label:before {
    content: '\2605';
    font-size: 30px;
  }
  
  .rating input:checked ~ label,
  .rating label:hover,
  .rating label:hover ~ label {
    color: #0077ff;
    transition: color 0.3s;
  }
  
  .mensagem {
    background-color: #ffffff00;
    color: #000000;
    width: 7.5em;
    height: 2.9em;
    border: #0077ff 0.2em solid;
    border-radius: 5px;
    text-align: right;
    transition: all 0.6s ease;
    padding-right: 0.3em;
  }
  
  .mensagem:hover {
    background-color: #0077ff;
    color: #e8e8e8;
    cursor: pointer;
  }
  
  .mensagem i {
    margin: 0.2em 0.5em 0.2em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .mensagem:hover i {
    transform: translateX(2px);
    color: #e8e8e8;
  }
  .seguir {
    background-color: #ffffff00;
    color: #000000;
    width: 5.5em;
    height: 2.9em;
    border: #0077ff 0.2em solid;
    border-radius: 5px;
    text-align: right;
    transition: all 0.6s ease;
    margin: 0 1.5em;
    padding-right: 0.3em;
  }
  
  .seguir:hover {
    background-color: #0077ff;
    color: #e8e8e8;
    cursor: pointer;
  }
  
  .seguir i {
    margin: 0.1em 0.5em 0.2em;
    position: absolute;
    display: flex;
    transition: all 0.6s ease;
  }
  
  .seguir:hover i {
    transform: translateX(2px);
    color: #e8e8e8;
  }
  .reportar{
    background-color: #ffffff00;
    border: none;
  
  }
  .botoesEvento{
    display: flex;
    gap: 20px;
  }
  .botoesEvento button{
    width: 15%;
    height: 30px;
  
  }
  .botoesEvento button {
    color: #090909;
    padding: 0.7em 1.7em;
    font-size: 11px;
    border-radius: 0.1em;
    background: #e8e8e8;
    cursor: pointer;
    border: 1px solid #e8e8e8;
    transition: all 0.3s;
    box-shadow: 1px 1px 1px #c5c5c5, -6px -6px 12px #ffffff;
  }
  
  .botoesEvento button:hover {
    border: 1px solid #c5c5c5;
  }
  
  .botoesEvento button:active {
    background-color: #03aca0;
    box-shadow: 1px 1px 1px #c5c5c5, -4px -4px 12px #ffffff;
  }
  .botoesEvento button::after {
    background-color: #000000;
    box-shadow: 1px 1px 1px #c5c5c5, -4px -4px 12px #ffffff;
  }
  /* css dos eventos */
  .eventos{
    border-top: 1px solid black;
  }
  /* display que sera ativado com o botão */
  .eventosPassados{ 
    border-top: 1px solid black;
    display: none;
  }
  .emandamento{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 3%;
    width: 100%;
    /* border: 1px solid rgba(114, 114, 114, 0.267); */
  }
  .emandamento img{
    width: 15%;
  }
  .emandamento input{
    width: 10%;
    height: 100%;
  }
  .emandamento p {
    width: 70%;
  }
  
  /* Estilos do main */
  
  main.Perfil {
    display: flex;
    justify-content: space-around;
    margin: 20px 0;
  }
  
  main.Perfil .esquerda {
    width: 30%;
  }
  
  main.Perfil .esquerda img#imgPerfil {
    width: 100%;
    border-radius: 50%;
    margin-bottom: 10px;
  }
  
  main.Perfil .esquerda .sociais {
    background: #fff;
    padding: 15px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  main.Perfil .esquerda .sociais p {
    font-weight: bold;
    margin-bottom: 10px;
  }
  
  main.Perfil .esquerda .sociais .sobre {
    margin-bottom: 10px;
  }
  
  main.Perfil .esquerda .sociais .sobre a {
    text-decoration: none;
    color: #333;
    margin-left: 10px;
  }
  
  main.Perfil .direita {
    width: 65%;
    background: #fff;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
  }
  
  main.Perfil .direita .sobreMin .nome h1 {
    font-size: 2em;
    margin-bottom: 5px;
  }
  
  main.Perfil .direita .sobreMin .nome h5 {
    color: #777;
    margin-bottom: 15px;
  }
  
  main.Perfil .direita .sobreMin .fama {
    margin-bottom: 20px;
  }
  
  main.Perfil .direita .sobreMin .fama .rating {
    unicode-bidi: bidi-override;
    direction: rtl;
    text-align: center;
  }
  
  main.Perfil .direita .sobreMin .fama .rating input {
    display: none;
  }
  
  main.Perfil .direita .sobreMin .fama .rating label {
    font-size: 2em;
    padding: 0 5px;
    cursor: pointer;
  }
  
  main.Perfil .direita .sobreMin .fama .rating label:hover,
  main.Perfil .direita .sobreMin .fama .rating label:hover ~ label {
    color: orange;
  }
  
  main.Perfil .direita .sobreMin .fama .rating input:checked ~ label {
    color: orange;
  }
  
  main.Perfil .direita .sobreMin .container h1 {
    font-size: 2em;
    margin-bottom: 20px;
  }
  
  main.Perfil .direita .sobreMin .container .form .input-box {
    margin-bottom: 15px;
  }
  /* Todo alinhamento nome do evento,  tema do evento, inicio/termino, tipo  e as imagens */
  main.Perfil .direita .sobreMin .container .form .input-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  /* alinhamento do TAMANHO das caixas das imagens */
  main.Perfil .direita .sobreMin .container .form .input-box input[type="text"],
  main.Perfil .direita .sobreMin .container .form .input-box input[type="date"],
  main.Perfil .direita .sobreMin .container .form .input-box input[type="file"],
  main.Perfil .direita .sobreMin .container .form .input-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  
  main.Perfil .direita .sobreMin .container .form .select-box {
    margin-bottom: 20px;
  }
  
  main.Perfil .direita .sobreMin .container .form .select-box label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
  }
  
  main.Perfil .direita .sobreMin .container .form .select-box select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  /* Inicio e Termino do Evento */
  main.Perfil .direita .sobreMin .container .form .column {
    display: flex;
    justify-content: space-between;
    
  }
  
  main.Perfil .direita .sobreMin .container .form .gender-box {
    margin-bottom: 15px;
  }
  /* Tipo de Evento */
  main.Perfil .direita .sobreMin .container .form .gender-option {
    display: flex;
    justify-content: space-around;
  }
  /* Inseir imagem*/
  main.Perfil .direita .sobreMin .container .form .gender-option .gender {
    display: flex;
    align-items: center;
  }
  /* Inseir imagem*/
  main.Perfil .direita .sobreMin .container .form .gender-option .gender input[type="radio"] {
    margin-right: 5px;
  }
  /* Inseir imagem*/
  main.Perfil .direita .sobreMin .container .form .gender-option .gender label {
    margin-right: 15px;
    cursor: pointer;
  }
  /* Endereço*/
  main.Perfil .direita .sobreMin .container .form .endereço {
    margin-bottom: 15px;
  }
  /* Endereço*/
  main.Perfil .direita .sobreMin .container .form .endereço .column {
    display: flex;
    justify-content: space-between;
  }
  /* Endereço*/
  main.Perfil .direita .sobreMin .container .form .endereço .column input[type="text"] {
    width: 30%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-top: 5px;
  }
  /* Endereço*/
  main.Perfil .direita .sobreMin .container .form .endereço .column #cep {
    width: 65%;
  }
  /* Endereço*/
  main.Perfil .direita .sobreMin .container .form .endereço .column input[type="file"] {
    width: 30%;
    margin-top: 5px;
  }
  /* Endereço*/
  main.Perfil .direita .sobreMin .container .form .endereço .column input[type="text"]:last-child {
    width: 30%;
  }
  /* Botao enviar */
  main.Perfil .direita .sobreMin .container .form .column .enviar,
  main.Perfil .direita .sobreMin .container .form .column .cancelar {
    
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  main.Perfil .direita .sobreMin .container .form .column .enviar {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  main.Perfil .direita .sobreMin .container .form .column .enviar:hover {
    background-color: #45a049;
  }
  
  main.Perfil .direita .sobreMin .container .form .column .cancelar {
    background-color: #f44336;
    color: white;
    font-weight: bold;
    transition: background-color 0.3s;
  }
  
  main.Perfil .direita .sobreMin .container .form .column .cancelar:hover {
    background-color: #da190b;
  }
  
  
  
  /* Estilos do footer */
  footer {
    background: linear-gradient(-105deg, #000fdbc7, #0fa1f593);
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 20px 0; /* Adicionando padding para espaçamento interno */
    flex-wrap: wrap; /* Permitir que os elementos do footer quebrem linha */
  }
  
  footer div {
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center; /* Centralizando itens verticalmente */
    gap: 10px; /* Espaçamento entre os itens */
    padding: 20px;
  }
  
  footer .termos {
    margin-top: 20px; /* Adicionando margem superior para separar do conteúdo acima */
    text-align: center; /* Centralizando o texto */
    width: 100%; /* Ocupando 100% da largura disponível */
  }
  
  /* Responsividade */
  @media (max-width: 768px) {
    footer div {
      width: 100%; /* Divs do footer ocupam 100% do espaço disponível */
    }
  
    footer .termos {
      margin-top: 20px; /* Ajustando margem superior */
      text-align: center; /* Centralizando o texto */
      order: 999; /* Ajustando a ordem para aparecer na última linha */
    }
  }
  
  